a { text-decoration: none; }

.map-container {
	position: absolute;
	left:0;
	top: 0;
	bottom: 0;
	height: 60%;
	width: 100%;
	padding: 0;
	margin: 0;

}

.street-container {
	position: absolute; 
	z-index: -1;
	top: 51.5%;
	left: 50%;
	width: 50%;
	height: 45.5%;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #fff;
	padding: 6px 12px;
	font-family: monospace;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0;
	margin: 12px;
	border-radius: 4px;
}

.resp-iframe {
    position: relative;
    bottom: 50%;
    left: 60%;
    width: 40%;
    height: 100%;
	border: 0;
}


.BRFBulten .mapboxgl-popup-content {
	position: absolute;
	top: -248px;  /* position the top  edge of the element at the middle of the parent */
    left: -155px; /* position the left edge of the element at the middle of the parent */
	width: 359px;
	height: 153px;
	color: rgb(0,0,0);
	opacity: 0.75;
	background-image: url('./icons/test2.png');
	padding:0;

}
.BRFBulten .mapboxgl-popup-tip {
  border-top-color: rgba(205, 205, 205,0);
  border-bottom-color: rgba(205, 205, 205,0);
  border-right-color: rgba(205, 205, 205,0);
  border-left-color: rgba(205, 205, 205,0);
}

.BRFBulten .mapboxgl-popup-content h1 {
  font: 32px 'Verdana';
  color: rgb(0,0,0);
  margin: 0;
  border-radius: 3px 1px 0 0;
  font-weight: 900;
}

.BRFBulten .mapboxgl-popup-content h2 {
  font: 16.5px 'Verdana';
  line-height:33px;
  color: rgb(0,0,0);
  margin: 0;
  font-weight: 10000;
}



.Hornstull .mapboxgl-popup-content {
	position: absolute;
	top: -248px;  /* position the top  edge of the element at the middle of the parent */
    left: -155px; /* position the left edge of the element at the middle of the parent */
	width: 359px;
	height: 153px;
	color: rgb(0,0,0);
	opacity: 0.75;
	background-image: url('./icons/test3.png');
	padding:0;
}
.Hornstull .mapboxgl-popup-tip {
  border-top-color: rgba(205, 205, 205,0);
  border-bottom-color: rgba(205, 205, 205,0);
  border-right-color: rgba(205, 205, 205,0);
  border-left-color: rgba(205, 205, 205,0);
}

.Hornstull .mapboxgl-popup-content h1 {
  font: 32px 'Verdana';
  color: rgb(0,0,0);
  margin: 0;
  border-radius: 3px 1px 0 0;
  font-weight: 900;
}


