

.map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 70%;
	width: 100%;
}

.street-container {
	position: absolute; 
	top: 70%;
	left: 50%;
	width: 50%;
	height: 40%;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #fff;
	padding: 6px 12px;
	font-family: monospace;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0;
	margin: 12px;
	border-radius: 4px;
}

.resp-iframe {
    position: relative;
    bottom: 50%;
    left: 60%;
    width: 40%;
    height: 100%;
	border: 0;
}



.mapboxgl-popup-content {
	width: 359px;
	height: 153px;
	text-align: top;
	background-color: rgba(205, 205, 205,0);
	color: rgba(255,255,255);
	font: 12px 'Calibri (Body)';
	padding: 0;
}

.BRFBulten {
	opacity: 0.8;
	background-image: url('./icons/test2.png');

};

.mapboxgl-popup-content {
	width: 359px;
	height: 153px;
	text-align: top;
	background-color: rgba(205, 205, 205,0);
	color: rgba(255,255,255);
	font: 12px 'Calibri (Body)';
	padding: 0;
}



.Hornstull {
	opacity: 0.8;
	background-image: url('./icons/test3.png');
};


