.map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 60%;
	width: 100%;
}

.street-container {
	position: absolute; 
	top: 60%;
	left: 75%;
	width: 25%;
	height: 40%;
}

.sidebar {
	background-color: rgba(35, 55, 75, 0.9);
	color: #fff;
	padding: 6px 12px;
	font-family: monospace;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0;
	margin: 12px;
	border-radius: 4px;
}

.resp-iframe {
    position: relative;
    bottom: 50%;
    left: 60%;
    width: 40%;
    height: 100%;
	border: 0;
}